<div class='info'>
<h1 class='district index'>Zip Codes</h1>
<% @states.each do |state| %>
<li class='index'><%= link_to "#{state.zip_code}", state %></li>
<% end %>
<br></br>
<li class='link'><%= link_to "Enter New Zip Code", new_state_path, class: 'new-zip-link' %>
</div>
