body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/US_Capitol_west_side.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

li {
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
}

.index {
  text-align: center;
  font-size: 4em;
  font-family: 'Rubik', sans-serif;
  color: black;
}

.district-index {
  text-align: center;
  font-size: 4em;
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Rubik', sans-serif;
}

.zip {
  text-align: center;
  height: 2em;
  font-size: 1em;
  margin-left: 40em;
  width: 6em;
}

.button {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-left: 40em;
}

.new_district {
  text-align: center;
}

label {
  font-size: 1em;
}

a {
  text-align: center;
  font-size: 1em;
}

.link {
  text-align: center;
  font-size: 2em;
}

.index-link {
  text-align: center;
  font-size: 1em;
}

.rep {
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}

.Rep {
  color: red;
}

.sen1 {
  text-align: center;
  font-size: 2em;
}

.sen2 {
  text-align: center;
  font-size: 2em;
}

.info {
  background-color: white;
  opacity: 0.7;
}

.left {
  display: inline;
}
